<%- model_class = Bookmark.new.class -%>
<div class="page-header">
  <h1>Your Bookmarks</h1>
</div>
<% @bookmarks.each do |bookmark| %>
	<div class="row">
		<div class="span1"><%= image_tag bookmark.favicon_url, :class=>"thumbnail favicon-display" %></div>
		<div class="span9">
			<h3> <%= bookmark.name %></h3>
			<div class="row">
				<div class="span9">
					<p><%= link_to bookmark.full_url, bookmark.full_url %></p>
					<% if bookmark.description.present? %>
						<div class="well">
							<h4>Description</h4>
							<p><%= bookmark.description %></p>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="span2">
			<div class="row">
				<div class="span2">
				<h5>Short URL:</h5>
				<%= text_field_tag "short", bookmark.short_url, :placeholder=>"Shortened URL not available", :class=>"input-medium", :readonly=>:readonly %>
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<h5>Tags</h5>
					<% tag_cloud(bookmark.tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
					  <%#= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
						<span class="<%= css_class %>"><%= tag.name %></span>
					<% end %>
				</div>
			</div>
			
		</div>
	</div>
	<hr/>
	
<% end %>



<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bookmark_path,
            :class => 'btn btn-primary btn-large' %>
