<div class="page-header">
  <h1>Your Bookmarks</h1>
</div>

	<%= render :partial =>"search" %>

<div class="row">
	<div class="span11 offset1">
		<div class="digg_pagination">
			<%= will_paginate @bookmarks %>
		</div>
	</div>
</div>
<% @bookmarks.each do |bookmark| %>
	<div class="row">
		<div class="span1 text-right">
		<%= bookmark.favicon_url.present? ? image_tag(bookmark.favicon_url, :class=>"thumbnail favicon-display") : image_tag("http://www.placehold.it/16x16", :class=>"thumbnail favicon-display") %></div>
		<div class="span9">
			<h3> <%= bookmark.name %> </h3>
			<div class="row">
				<div class="span9">
					<p><%= link_to bookmark.full_url.truncate(100), bookmark.full_url %> </p>
					<% if bookmark.description.present? %>
						<div class="well">
							<h4>Description</h4>
							<p><%= bookmark.description.truncate(350) %></p>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="span2">
			<div class="row">
				<div class="span2">
					<%= link_to "View Details", bookmark_path(bookmark), :class=>"btn btn-info" %>
				</div>
			</div>
			<div class="row">
				<div class="span2">
				<h5>Short URL:</h5>
				<%= text_field_tag "short", bookmark.short_url, :placeholder=>"Shortened URL not available", :class=>"input-medium", :readonly=>:readonly %>
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<h5>Tags</h5>
					<ul class="tag-list">
						<% bookmark.tag_list.each do |tag| %>
							<li><%= link_to tag, tags_path(:name=>tag) %></li>
						<% end %>
					</ul>
				</div>
			</div>
			
		</div>
	</div>
	<hr/>
	
<% end %>
<% if @bookmarks.nil? || @bookmarks.empty? %>
	<div class="row">
		<div class="span12">
			<p class="well">No bookmarks found.</p>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="span11 offset1">
		<div class="digg_pagination">
			<%= will_paginate @bookmarks %>
		</div>
	</div>
</div>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bookmark_path,
            :class => 'btn btn-primary btn-large' %>
