<div class="page-header">
  <h1><%= image_tag @bookmark.favicon_url, :class=>"thumbnail favicon-display" %> <%= @bookmark.name %></h1>
</div>
<% if notice %>
	<div class="row">
		<div class="span12">
			<div class="alert alert-info"><%= notice  %></div>
			<% content_for :head_additions do %>
					<meta http-equiv="refresh" content="8">
			<% end %>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span8">
				<div class="well">
					<h2>URL:</h2>
					<h3><%= link_to @bookmark.full_url.truncate(120) , @bookmark.full_url%></h3>
					<% if @bookmark.short_url %>
						<h2>Short URL:</h2>
						<h3><%= link_to @bookmark.short_url, @bookmark.short_url %></h3>
					<% end %>
					<% if @bookmark.description %>
						<h2>Description:</h2>
						<p><%= @bookmark.description %></p>
					<% end %>
				</div>
			</div>
			<div class="span4">
				<div>
					<% if @bookmark.site.try(:name) %>
						<h2>Site Name</h2>
						<p><%= link_to @bookmark.site.name, site_path(@bookmark.site) %></p>
					<% end %>
					<% if @bookmark.tags.present? %>
						<h2>Tags for Bookmark</h2>
						<p>
							<ul class="tag-list">
								<% @bookmark.tag_list.each do |tag| %>
									<li><%= link_to tag, tags_path(:name=>tag) %></li>
								<% end %>
							</ul>
						</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<h2> Bookmarks from Parent Site - <%= @bookmark.site.name %></h2>
		<table class="table table-striped">
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Description</th>
				<th>URL</th>
				<th>Short URL</th>
			</tr>
			<% @site_bookmarks.each do |bookmark| %>
				<tr>
					<td><%= image_tag bookmark.favicon_url, :class=>"favicon-display" %></td>
					<td><h3><%= link_to bookmark.name && bookmark.name.truncate(80), bookmark_path(bookmark) %></h3></td>
					<td><%= bookmark.description && bookmark.description.truncate(120) %></td>
					<td><%= link_to bookmark.full_url.truncate(80), bookmark.full_url %></td>
					<td><%= link_to bookmark.short_url && bookmark.short_url.truncate(80), bookmark.short_url %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bookmarks_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bookmark_path(@bookmark), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bookmark_path(@bookmark),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
